.awesome {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.awesome-block {
    width: 1170px;
    text-align: center;
    margin: 0 auto;
    padding: 58px 0;
}

.awesome-block__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    height: 150px;
    line-height: 150px;
}

.awesome-block-separator {
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

.awesome-block__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 21.13px;
    line-height: 21.13px;
    margin-bottom: 71px;
}

.awesome-block-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.awesome-block-articles {
    width: 370px;
    display: inline-block;
}

.awesome-block-articles__images {
    display: block; 
    margin: 0 auto;
}

.awesome-block-articles__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-bottom: 8px;
}

.awesome-block-articles__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: inherit;
}

@media screen and (max-width: 1200px) {
    .awesome-block {
        width: 95%;
    }
    .awesome-block__title {
        font-size: 24px;
        height: 120px;
        line-height: 120px;
    }
    .awesome-block-separator {
        width: 142px;
        margin-bottom: 32px;
    }
    .awesome-block__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }
    .awesome-block-articles {
        width: 318px;
    }
    .awesome-block-articles__images {
        width: 147px;
    }
    .awesome-block-articles__title {
        font-size: 18px;
        height: 82px;
        line-height: 82px;
        margin-bottom: 17px;
    }   
    .awesome-block-articles__subtitle {
        font-size: 14px;
    }
}

@media screen and (max-width: 970px) {
    .awesome-block {
        width: 95%;
    }
    .awesome-block__title {
        font-size: 18px;
        height: 120px;
        line-height: 120px;
    }
    .awesome-block-separator {
        width: 134px;
        margin-bottom: 25px;
    }
    .awesome-block__subtitle {
        font-size: 13px;
        margin-bottom: 50px;
    }
    .awesome-block-articles {
        width: 288px;
    }
    .awesome-block-articles__images {
        width: 147px;
    }
    .awesome-block-articles__title {
        font-size: 18px;
        height: 82px;
        line-height: 82px;
        margin-bottom: 9px;
    }   
    .awesome-block-articles__subtitle {
        font-size: 14px;
    }
    .awesome-block-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}