.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-background.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
}

.banner-block {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    padding-top: 208px;
    padding-bottom: 185px;
}

.banner-left-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-left-side-logo {
    margin-bottom: 72.88px;
}

.banner-left-side-logo__little {
    display: none;
    width: 183.099px;
}

.banner-left-side__title {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 55.12px;
}

.banner-left-side-separator {
    width: 170px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 42px;
}

.banner-left-side__subtitle {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 42px;
}

.banner-left-side__download {
    width: 270px;
    height: 58px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #FFF;
    background-color: transparent;
}

.banner-left-side__download:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.banner-left-side__download:active {
    color: #FFF;
    border: 2px solid #AB4949;
    background-color: #AB4949;
}

.banner-right-side {
    height: 87%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-form {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

.banner-form__title {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
    padding: 29px 0px 29px 0px;
} 

.banner-form__title-free {
    color: #EC7979;
}

.banner-form__boxes {
    color: #BDBDBD;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    margin: 0px 50px 16px 50px
}

.banner-form-line {
    width: 370px;
    border-bottom: 1px solid  #BDBDBD;
    margin: 0px 50px 33px 50px;
}

.banner-form__start {
    height: 60px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    background: #EC7979;
    border: none;
    margin-top: 42px;
}

.banner-form__start:hover {
    background-color: #AB4949;
}

.banner-form__start:active {
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

@media screen and (max-width: 1200px) {
    .banner-block {
        padding-top: 137px;
        padding-bottom: 106px;
        width: 95%;
    }
    .banner-form-line {
        width: 298px;
    }
    .banner-form__title {
        font-size: 18px;
    }
    .banner-left-side-logo__little {
        display: block;
    }
    .banner-left-side-logo {
        margin-bottom: 37.61px;
    }
    .banner-left-side-logo__AX {
        display: none;
    }
    .banner-left-side-logo__IT {
        display: none;
    }
    .banner-left-side__title {
        font-size: 36px;
        margin-bottom: 41.49px;
    }
    .banner-left-side-separator {
        width: 115.285px;
        margin-bottom: 31px;
    }
    
    .banner-left-side__subtitle {
        font-size: 14px;
        margin-bottom: 31.32px;
    }
    
    .banner-left-side__download {
        width: 183.099px;
        height: 50px;
    }
}

@media screen and (max-width: 670px) {
    .banner-right-side {
        margin: 0 auto;
    }
    .banner-left-side {
        width: 100%;
    }
    .banner-block {
        width: 95%;
        padding-top: 84.12px;
        padding-bottom: 50px;
        flex-direction: column;
    }
    .banner-form {
        width: 288px;
        margin-top: 56px;
    }
    .banner-left-side-logo {
        display: none;
    }
    .banner-form-line {
        width: 240px;
        margin-left: 20px;
    }
    .banner-form__boxes {
        margin-left: 20px;
    }
    .banner-form__title {
        font-size: 18px;
    }
    .banner-left-side-logo__little {
        display: block;
    }
    .banner-left-side-logo {
        margin-bottom: 37.61px;
    }
    .banner-left-side-logo__AX {
        display: none;
    }
    .banner-left-side-logo__IT {
        display: none;
    }
    .banner-left-side__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 43.88px;
    }
    .banner-left-side-separator {
        width: 115.285px;
        margin: 0 auto;
    }
    
    .banner-left-side__subtitle {
        text-align: center;
        font-size: 14px;
        margin-top: 42px;
        margin-bottom: 42px;
    }
    
    .banner-left-side__download {
        width: 288px;
        height: 50px;
        margin: 0 auto;
    }
}