.contact-us {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.contact-us-block {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.contact-us-block__title {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-top: 50px;
}

.contact-us-block-separator {
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contact-us-block__subtitle {
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 89px;
}

.contact-us-block-form {
    display: flex;
    justify-content: space-between;
}

.contact-us-block-form-left-side {
    display: flex;
    flex-direction: column;
}

.contact-us-form__boxes {
    color: #BDBDBD;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-bottom: 16px;
}

.contact-us-form-line {
    width: 571px;
    border-bottom: 1px solid  #BDBDBD;
    margin-bottom: 50px;
}

.contact-us-block-form-right-side {
    display: flex;
    flex-direction: column;
}

.contact-us-form__boxes-message {
    color: #BDBDBD;
    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    resize: none;
}

.contact-us-button {
    display: flex;
    justify-content: center;
}

.contact-us-button__message {
    width: 370px;
    height: 58px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #EC7979;
    border: none;
    margin-bottom: 50px;
}

.contact-us-button__message:hover {
    background: #AB4949;
}

.contact-us-button__message:active {
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}