.design {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.design-block {
    width: 1170px;
    text-align: center;
    margin: 0 auto;
}

.design-block__title {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    padding-top: 50px;
}

.design-block-separator {
    width: 170px;
    border-bottom: 1px solid #FFF;
    margin: 0 auto;
    margin-bottom: 40px;
}

.design-block__subtitle {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 73px;
}

.design-block__download {
    width: 370px;
    height: 58px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #FFF;
    background-color: transparent;
    margin-bottom: 50px;
}

.design-block__download:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
    background-color: transparent;
}

.design-block__download:active {
    color: #FFF;
    border: 2px solid #AB4949;
    background-color: #AB4949;
}

@media screen and (max-width: 1200px) {
    .design-block {
        width: 95%;
    }
    .design-block__title {
        height: 120px;
        font-size: 24px;
    }
    .design-block-separator {
        width: 142px;
        margin-bottom: 32px;
    }
    .design-block__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }
    .design-block__download {
        width: 318px;
        height: 58px;
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 352px) {
    .design-block {
        width: 95%;
    }
    .design-block-separator {
        width: 134px;
        margin-bottom: 16px;
    }
    .design-block__subtitle {
        margin-bottom: 50px;
    }
    .design-block__download {
        width: 287px;
        height: 50px;
        margin-bottom: 58px;
    }
}