* {
    margin: 0;
    padding: 0;
}

.social-media {
    width: 100%;
    height: 100%;
    background-color: #F8EFEF;
}

.social-media-block {
    width: 1170px;
    height: 140px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 99px;
}

.social-media-right-side {
    display: flex;
    flex-direction: column;
}

.social-media-right-side__title {
    display: flex;
    height: 60px;
    align-items: center;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.social-media-right-side__subtitle {
    width: 470px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.social-media-left-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.social-media-left-side__icons {
    width: 70px;
}